<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlog.xloguser.finaldriverapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xlog_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqkWYbdcorc0CmPdQesBtG1Av_XJZIdw4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ForgotPin" />
        <activity
            android:name=".Commodity"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".AllTrasactions"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".CompleteTransactions"
            android:parentActivityName=".CompleteTransactions" />
        <activity
            android:name=".PendingTransactions"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".About"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".TodayUpcomingActivity"
            android:parentActivityName=".NavigationDrawer" />
        <activity android:name=".MainMap" />
        <activity android:name=".SignatureActivity" />
        <activity android:name=".RoutesActivity"
            android:parentActivityName=".MainMap"></activity>
    </application>

</manifest>